#calculator {
    width: 100%;
    padding-top: 20px;
    margin-left: 33%;
    text-align: center;
}

.jumbotron {
    background-color: white;
    border: none;
}

.btn-lg {
    background-color: black;
    color: white;
}

.btn-lg:hover {
    background-color: #272626;
    opacity: 0.4;
}

.btn-info,
.btn-warning,
.btn-secondary,
.btn-success {
    background-color: #581845;
    color: white;
}

.btn-info:hover,
.btn-warning:hover,
.btn-secondary:hover,
.btn-success:hover {
    background-color: #581845;
    opacity: 0.9;
}